<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{now_title}}</title>
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/another.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/another.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/index_user.js"></script>
        <script src="../static/js/sign_up.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{index}}">
                        <img src="{{user_url}}" alt="Brand" class="img-circle img-responsive">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <p class="navbar-text text-left" id="user">{{now_user}}</p>
                        </li>
                        <li><a href="{{index}}" id="index">主页</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">国家/地区<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="movie_list?tag=大陆电影" class="btn btn-link" role="button" onclick="getMovieList(this)">大陆电影</a></li>
                                <li><a href="movie_list?tag=美国电影" class="btn btn-link" role="button" onclick="getMovieList(this)">美国电影</a></li>
                                <li><a href="movie_list?tag=香港电影" class="btn btn-link" role="button" onclick="getMovieList(this)">香港电影</a></li>
                                <li><a href="movie_list?tag=台湾电影" class="btn btn-link" role="button" onclick="getMovieList(this)">台湾电影</a></li>
                                <li><a href="movie_list?tag=日本电影" class="btn btn-link" role="button" onclick="getMovieList(this)">日本电影</a></li>
                                <li><a href="movie_list?tag=韩国电影" class="btn btn-link" role="button" onclick="getMovieList(this)">韩国电影</a></li>
                                <li><a href="movie_list?tag=印度电影" class="btn btn-link" role="button" onclick="getMovieList(this)">印度电影</a></li>
                                <li><a href="movie_list?tag=泰国电影" class="btn btn-link" role="button" onclick="getMovieList(this)">泰国电影</a></li>
                                <li><a href="movie_list?tag=英国电影" class="btn btn-link" role="button" onclick="getMovieList(this)">英国电影</a></li>
                                <li><a href="movie_list?tag=法国电影" class="btn btn-link" role="button" onclick="getMovieList(this)">法国电影</a></li>
                                <li><a href="movie_list?tag=德国电影" class="btn btn-link" role="button" onclick="getMovieList(this)">德国电影</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">类型<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="movie_list?tag=爱情" class="btn btn-link" role="button" onclick="getMovieList(this)">爱情</a></li>
                                <li><a href="movie_list?tag=暴力" class="btn btn-link" role="button" onclick="getMovieList(this)">暴力</a></li>
                                <li><a href="movie_list?tag=传记" class="btn btn-link" role="button" onclick="getMovieList(this)">传记</a></li>
                                <li><a href="movie_list?tag=动作" class="btn btn-link" role="button" onclick="getMovieList(this)">动作</a></li>
                                <li><a href="movie_list?tag=犯罪" class="btn btn-link" role="button" onclick="getMovieList(this)">犯罪</a></li>
                                <li><a href="movie_list?tag=家庭" class="btn btn-link" role="button" onclick="getMovieList(this)">家庭</a></li>
                                <li><a href="movie_list?tag=剧情" class="btn btn-link" role="button" onclick="getMovieList(this)">剧情</a></li>
                                <li><a href="movie_list?tag=科幻" class="btn btn-link" role="button" onclick="getMovieList(this)">科幻</a></li>
                                <li><a href="movie_list?tag=恐怖" class="btn btn-link" role="button" onclick="getMovieList(this)">恐怖</a></li>
                                <li><a href="movie_list?tag=历史" class="btn btn-link" role="button" onclick="getMovieList(this)">历史</a></li>
                                <li><a href="movie_list?tag=励志" class="btn btn-link" role="button" onclick="getMovieList(this)">励志</a></li>
                                <li><a href="movie_list?tag=魔幻" class="btn btn-link" role="button" onclick="getMovieList(this)">魔幻</a></li>
                                <li><a href="movie_list?tag=女性" class="btn btn-link" role="button" onclick="getMovieList(this)">女性</a></li>
                                <li><a href="movie_list?tag=青春" class="btn btn-link" role="button" onclick="getMovieList(this)">青春</a></li>
                                <li><a href="movie_list?tag=情色" class="btn btn-link" role="button" onclick="getMovieList(this)">情色</a></li>
                                <li><a href="movie_list?tag=文艺" class="btn btn-link" role="button" onclick="getMovieList(this)">文艺</a></li>
                                <li><a href="movie_list?tag=喜剧" class="btn btn-link" role="button" onclick="getMovieList(this)">喜剧</a></li>
                                <li><a href="movie_list?tag=悬疑" class="btn btn-link" role="button" onclick="getMovieList(this)">悬疑</a></li>
                                <li><a href="movie_list?tag=音乐" class="btn btn-link" role="button" onclick="getMovieList(this)">音乐</a></li>
                                <li><a href="movie_list?tag=战争" class="btn btn-link" role="button" onclick="getMovieList(this)">战争</a></li>
                                <li><a href="movie_list?tag=黑帮" class="btn btn-link" role="button" onclick="getMovieList(this)">黑帮</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="movie_list?tag=经典" class="btn btn-link" role="button" onclick="getMovieList(this)">经典</a></li>
                                <li><a href="movie_list?tag=冷门佳片" class="btn btn-link" role="button" onclick="getMovieList(this)">冷门佳片</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="navbar-text text-center" id="title"><strong>老电影推荐站</strong></p>
                        </li>
                        <li>
                            <a type="button" href="{{index}}" class="tips" onclick="postLogOut()">注销</a>
                        </li>
                        <li>
                            <a href="{{sign_up}}" class="tips">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="center4">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_1}}" alt="movie_1" title="{{movie_show_1_title}}" id="movie_show_1">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_1_title">{{movie_show_1_title}}</strong><br>
                            <strong class="info" id="movie_show_1_score">豆瓣评分：{{movie_show_1_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_1_type">类型：{{movie_show_1_type}}</p>
                            <p class="info_2" id="movie_show_1_country">国家/地区：{{movie_show_1_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_2}}" alt="movie_2" title="{{movie_show_2_title}}" id="movie_show_2">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_2_title">{{movie_show_2_title}}</strong><br>
                            <strong class="info" id="movie_show_2_score">豆瓣评分：{{movie_show_2_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_2_type">类型：{{movie_show_2_type}}</p>
                            <p class="info_2" id="movie_show_2_country">国家/地区：{{movie_show_2_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_3}}" alt="movie_3" title="{{movie_show_3_title}}" id="movie_show_3">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_3_title">{{movie_show_3_title}}</strong><br>
                            <strong class="info" id="movie_show_3_score">豆瓣评分：{{movie_show_3_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_3_type">类型：{{movie_show_3_type}}</p>
                            <p class="info_2" id="movie_show_3_country">国家/地区：{{movie_show_3_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_4}}" alt="movie_4" title="{{movie_show_4_title}}" id="movie_show_4">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_4_title">{{movie_show_4_title}}</strong><br>
                            <strong class="info" id="movie_show_4_score">豆瓣评分：{{movie_show_4_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_4_type">类型：{{movie_show_4_type}}</p>
                            <p class="info_2" id="movie_show_4_country">国家/地区：{{movie_show_4_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_5}}" alt="movie_5" title="{{movie_show_5_title}}" id="movie_show_5">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_5_title">{{movie_show_5_title}}</strong><br>
                            <strong class="info" id="movie_show_5_score">豆瓣评分：{{movie_show_5_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_5_type">类型：{{movie_show_5_type}}</p>
                            <p class="info_2" id="movie_show_5_country">国家/地区：{{movie_show_5_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_6}}" alt="movie_6" title="{{movie_show_6_title}}" id="movie_show_6">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_6_title">{{movie_show_6_title}}</strong><br>
                            <strong class="info" id="movie_show_6_score">豆瓣评分：{{movie_show_6_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_6_type">类型：{{movie_show_6_type}}</p>
                            <p class="info_2" id="movie_show_6_country">国家/地区：{{movie_show_6_country}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_7}}" alt="movie_7" title="{{movie_show_7_title}}" id="movie_show_7">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_7_title">{{movie_show_7_title}}</strong><br>
                            <strong class="info" id="movie_show_7_score">豆瓣评分：{{movie_show_7_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_7_type">类型：{{movie_show_7_type}}</p>
                            <p class="info_2" id="movie_show_7_country">国家/地区：{{movie_show_7_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_8}}" alt="movie_8" title="{{movie_show_8_title}}" id="movie_show_8">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_8_title">{{movie_show_8_title}}</strong><br>
                            <strong class="info" id="movie_show_8_score">豆瓣评分：{{movie_show_8_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_8_type">类型：{{movie_show_8_type}}</p>
                            <p class="info_2" id="movie_show_8_country">国家/地区：{{movie_show_8_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_9}}" alt="movie_9" title="{{movie_show_9_title}}" id="movie_show_9">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_9_title">{{movie_show_9_title}}</strong><br>
                            <strong class="info" id="movie_show_9_score">豆瓣评分：{{movie_show_9_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_9_type">类型：{{movie_show_9_type}}</p>
                            <p class="info_2" id="movie_show_9_country">国家/地区：{{movie_show_9_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_10}}" alt="movie_10" title="{{movie_show_10_title}}" id="movie_show_10">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_10_title">{{movie_show_10_title}}</strong><br>
                            <strong class="info" id="movie_show_10_score">豆瓣评分：{{movie_show_10_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_10_type" class>类型：{{movie_show_10_type}}</p>
                            <p class="info_2" id="movie_show_10_country">国家/地区：{{movie_show_10_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_11}}" alt="movie_11" title="{{movie_show_11_title}}" id="movie_show_11">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_11_title">{{movie_show_11_title}}</strong><br>
                            <strong class="info" id="movie_show_11_score">豆瓣评分：{{movie_show_11_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_11_type">类型：{{movie_show_11_type}}</p>
                            <p class="info_2" id="movie_show_11_country">国家/地区：{{movie_show_11_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="../static/items/{{movie_show_12}}" alt="movie_12" title="{{movie_show_12_title}}" id="movie_show_12">
                        <div class="caption">
                            <button class="btn btn-success btn-sm">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm">不喜欢</button>
                            <br>
                            <strong class="info" id="movie_show_12_title">{{movie_show_12_title}}</strong><br>
                            <strong class="info" id="movie_show_12_score">豆瓣评分：{{movie_show_12_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_12_type">类型：{{movie_show_12_type}}</p>
                            <p class="info_2" id="movie_show_12_country">国家/地区：{{movie_show_12_country}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>