<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{now_title}}</title>
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/another.css">
        <link type="text/css" rel="stylesheet" href="../static/css/index.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/another.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/index_user.js"></script>
        <script src="../static/js/sign_up.js"></script>
        <style>
            .caption .btn-warning{
                position: relative;
                left:18px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img src="{{user_url}}" alt="Brand" class="img-circle img-responsive">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="tips" id="user" href="/user/{{now_user}}">{{now_user}}</p>
                        </li>
                        {% include 'Navigation.html' %}
                        <li>
                            <a type="button" href="{{index}}" class="tips" onclick="postLogOut()">注销</a>
                        </li>
                        <li>
                            <a href="{{sign_up}}" class="tips">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="center4">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_1_id}}" id="movie_show_1_id"><img src="../static/items/{{movie_show_1}}" alt="movie_1" title="{{movie_show_1_title}}" id="movie_show_1">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_1_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_1_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_1_id}}" id="movie_show_1_id"><strong class="info" id="movie_show_1_title">{{movie_show_1_title}}</strong></a><br>
                            <strong class="info" id="movie_show_1_score">豆瓣评分：{{movie_show_1_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_1_type">类型：{{movie_show_1_type}}</p>
                            <p class="info_2" id="movie_show_1_country">国家/地区：{{movie_show_1_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_2_id}}" id="movie_show_2_id"><img src="../static/items/{{movie_show_2}}" alt="movie_2" title="{{movie_show_2_title}}" id="movie_show_2">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_2_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_2_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_2_id}}" id="movie_show_2_id"><strong class="info" id="movie_show_2_title">{{movie_show_2_title}}</strong></a><br>
                            <strong class="info" id="movie_show_2_score">豆瓣评分：{{movie_show_2_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_2_type">类型：{{movie_show_2_type}}</p>
                            <p class="info_2" id="movie_show_2_country">国家/地区：{{movie_show_2_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_3_id}}" id="movie_show_3_id"><img src="../static/items/{{movie_show_3}}" alt="movie_3" title="{{movie_show_3_title}}" id="movie_show_3">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_3_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_3_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_3_id}}" id="movie_show_3_id"><strong class="info" id="movie_show_3_title">{{movie_show_3_title}}</strong></a><br>
                            <strong class="info" id="movie_show_3_score">豆瓣评分：{{movie_show_3_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_3_type">类型：{{movie_show_3_type}}</p>
                            <p class="info_2" id="movie_show_3_country">国家/地区：{{movie_show_3_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_4_id}}" id="movie_show_4_id"><img src="../static/items/{{movie_show_4}}" alt="movie_4" title="{{movie_show_4_title}}" id="movie_show_4">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_4_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_4_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_4_id}}" id="movie_show_4_id"><strong class="info" id="movie_show_4_title">{{movie_show_4_title}}</strong></a><br>
                            <strong class="info" id="movie_show_4_score">豆瓣评分：{{movie_show_4_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_4_type">类型：{{movie_show_4_type}}</p>
                            <p class="info_2" id="movie_show_4_country">国家/地区：{{movie_show_4_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_5_id}}" id="movie_show_5_id"><img src="../static/items/{{movie_show_5}}" alt="movie_5" title="{{movie_show_5_title}}" id="movie_show_5">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_5_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_5_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_5_id}}" id="movie_show_5_id"><strong class="info" id="movie_show_5_title">{{movie_show_5_title}}</strong></a><br>
                            <strong class="info" id="movie_show_5_score">豆瓣评分：{{movie_show_5_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_5_type">类型：{{movie_show_5_type}}</p>
                            <p class="info_2" id="movie_show_5_country">国家/地区：{{movie_show_5_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_6_id}}" id="movie_show_6_id"><img src="../static/items/{{movie_show_6}}" alt="movie_6" title="{{movie_show_6_title}}" id="movie_show_6">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_6_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_6_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_6_id}}" id="movie_show_6_id"><strong class="info" id="movie_show_6_title">{{movie_show_6_title}}</strong></a><br>
                            <strong class="info" id="movie_show_6_score">豆瓣评分：{{movie_show_6_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_6_type">类型：{{movie_show_6_type}}</p>
                            <p class="info_2" id="movie_show_6_country">国家/地区：{{movie_show_6_country}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_7_id}}" id="movie_show_7_id"><img src="../static/items/{{movie_show_7}}" alt="movie_7" title="{{movie_show_7_title}}" id="movie_show_7">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_7_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_7_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_7_id}}" id="movie_show_7_id"><strong class="info" id="movie_show_7_title">{{movie_show_7_title}}</strong></a><br>
                            <strong class="info" id="movie_show_7_score">豆瓣评分：{{movie_show_7_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_7_type">类型：{{movie_show_7_type}}</p>
                            <p class="info_2" id="movie_show_7_country">国家/地区：{{movie_show_7_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_8_id}}" id="movie_show_8_id"><img src="../static/items/{{movie_show_8}}" alt="movie_8" title="{{movie_show_8_title}}" id="movie_show_8">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_8_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_8_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_8_id}}" id="movie_show_8_id"><strong class="info" id="movie_show_8_title">{{movie_show_8_title}}</strong></a><br>
                            <strong class="info" id="movie_show_8_score">豆瓣评分：{{movie_show_8_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_8_type">类型：{{movie_show_8_type}}</p>
                            <p class="info_2" id="movie_show_8_country">国家/地区：{{movie_show_8_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_9_id}}" id="movie_show_9_id"><img src="../static/items/{{movie_show_9}}" alt="movie_9" title="{{movie_show_9_title}}" id="movie_show_9">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_9_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_9_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_9_id}}" id="movie_show_9_id"><strong class="info" id="movie_show_9_title">{{movie_show_9_title}}</strong></a><br>
                            <strong class="info" id="movie_show_9_score">豆瓣评分：{{movie_show_9_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_9_type">类型：{{movie_show_9_type}}</p>
                            <p class="info_2" id="movie_show_9_country">国家/地区：{{movie_show_9_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_10_id}}" id="movie_show_10_id"><img src="../static/items/{{movie_show_10}}" alt="movie_10" title="{{movie_show_10_title}}" id="movie_show_10">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_10_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_10_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_10_id}}" id="movie_show_10_id"><strong class="info" id="movie_show_10_title">{{movie_show_10_title}}</strong></a><br>
                            <strong class="info" id="movie_show_10_score">豆瓣评分：{{movie_show_10_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_10_type" class>类型：{{movie_show_10_type}}</p>
                            <p class="info_2" id="movie_show_10_country">国家/地区：{{movie_show_10_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_11_id}}" id="movie_show_11_id"><img src="../static/items/{{movie_show_11}}" alt="movie_11" title="{{movie_show_11_title}}" id="movie_show_11">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_11_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_11_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_11_id}}" id="movie_show_11_id"><strong class="info" id="movie_show_11_title">{{movie_show_11_title}}</strong></a><br>
                            <strong class="info" id="movie_show_11_score">豆瓣评分：{{movie_show_11_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_11_type">类型：{{movie_show_11_type}}</p>
                            <p class="info_2" id="movie_show_11_country">国家/地区：{{movie_show_11_country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="../movie/{{movie_show_12_id}}" id="movie_show_12_id"><img src="../static/items/{{movie_show_12}}" alt="movie_12" title="{{movie_show_12_title}}" id="movie_show_12">
                        <div class="caption">
                            <button class="btn btn-success btn-sm" onclick="postLike({{movie_show_12_id}})">我喜欢</button>&nbsp;
                            <button class="btn btn-warning btn-sm" onclick="postSeen({{movie_show_12_id}})">我看过</button>
                            <br>
                            <a href="../movie/{{movie_show_12_id}}" id="movie_show_12_id"><strong class="info" id="movie_show_12_title">{{movie_show_12_title}}</strong></a><br>
                            <strong class="info" id="movie_show_12_score">豆瓣评分：{{movie_show_12_score}}</strong><br>
                            <br>
                            <p class="info_2" id="movie_show_12_type">类型：{{movie_show_12_type}}</p>
                            <p class="info_2" id="movie_show_12_country">国家/地区：{{movie_show_12_country}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>