<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>User</title>
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/another.css">
        <link type="text/css" rel="stylesheet" href="../static/css/index.css">
        <link type="text/css" rel="stylesheet" href="../static/css/movie.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/index_user.js"></script>
        <script src="../static/js/another.js"></script>
        <script src="../static/js/movie.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img alt="Brand" class="img-circle img-responsive" id="user_image">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <p class="navbar-text text-left" id="user"></p>
                        </li>
                        {% include 'Navigation.html' %}
                        <li>
                            <a type="button" id="log_out" class="tips" onclick="postLogOut()">注销</a>
                        </li>
                        <li>
                            <a id="signUp" class="tips">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="center4">
            <br>
            <div id = "_zone">
                <h3>搜索结果</h3>
                <div id = "Search_Movie"></div>
            </div>
            <script>
                var Search_movie = {{Search_movie|safe}};
                for (var key = 0;key < Search_movie.length();key++){
                    if (key % 4 == 0)
                        document.getElementById("Search_Movie").innerHTML += '<div class="row">';
                    var output = '';
                    output+='<div class="col-sm-4 col-md-2">';
                    output+='    <div class="thumbnail">';
                    output+='        <a href="../movie/'+ Search_movie[key].id +'"><img src="../static/items/'+ Search_movie[key].id +'" alt="'+ Search_movie[key].id +'" title="'+ Search_movie[key].id +'">';
                    output+='        <a href="../movie/{{Search_move_'+ Search_movie[key].id +'_id}}"><strong>{{Search_move_'+ key.toString() +'_title}}</strong></a><br>';
                    output+='        </div>';
                    output+='    </div>';
                    output+='</div>';
                    document.getElementById("Search_Movie").innerHTML += output;
                }
            </script>
        </div>
    </body>
</html>
