<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>User</title>
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/another.css">
        <link type="text/css" rel="stylesheet" href="../static/css/index.css">
        <link type="text/css" rel="stylesheet" href="../static/css/movie.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/index_user.js"></script>
        <script src="../static/js/another.js"></script>
        <script src="../static/js/movie.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img alt="Brand" class="img-circle img-responsive" id="user_image">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <p class="navbar-text text-left" id="user"></p>
                        </li>
                        {% include 'Navigation.html' %}
                        <li>
                            <a type="button" id="log_out" class="tips" onclick="postLogOut()">注销</a>
                        </li>
                        <li>
                            <a id="signUp" class="tips">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="center4">
            <h1 class="" id="user">{{now_user}}</h1>
            <br>
            <div id = "Seen_zone">
                <h3>我看过的</h3>
                <div id = "Seen_Movie"></div>
            </div>
            <div class="container" id="center4">
                    <div class="row">
                    {% for movie in seen_movie_list %}
                        <div class="col-sm-4 col-md-2">
                            <div class="thumbnail">
                                <a href="../movie/{{movie.id}}" id="movie_{{movie.id}}_id"><img src="../static/items/{{movie.picture}}" alt="{{movie.id}}" title="{{movie.title}}" id="movie_{{movie.id}}_picture">
                                <div class="caption">
                                    <a href="../movie/{{movie.id}}" id="movie_{{movie.id}}_id"><strong class="info" id="movie_{{movie.id}}_title">{{movie.title}}</strong></a><br>
                                    <strong class="info" id="movie_{{movie.id}}_score">豆瓣评分：{{movie.score}}</strong><br>
                                    <p class="info_2" id="movie_{{movie.id}}_type">类型：{{movie.type}}</p>
                                    <p class="info_2" id="movie_{{movie.id}}_country">国家/地区：{{movie.country}}</p>
                                </div>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:5 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% empty %}
                    <div class="col-sm-4 col-md-2">
                        <p class="info_3">无结果</p>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            <br>
            <div id = "Favourite_zone">
                <h3>我喜欢看的</h3>
                <div id = "Like_Movie"></div>
            </div>
            <div class="container" id="center4">
                    <div class="row">
                    {% for movie in favourite_movie_list %}
                        <div class="col-sm-4 col-md-2">
                            <div class="thumbnail">
                                <a href="../movie/{{movie.id}}" id="movie_{{movie.id}}_id"><img src="../static/items/{{movie.picture}}" alt="{{movie.id}}" title="{{movie.title}}" id="movie_{{movie.id}}_picture">
                                <div class="caption">
                                    <a href="../movie/{{movie.id}}" id="movie_{{movie.id}}_id"><strong class="info" id="movie_{{movie.id}}_title">{{movie.title}}</strong></a><br>
                                    <strong class="info" id="movie_{{movie.id}}_score">豆瓣评分：{{movie.score}}</strong><br>
                                    <p class="info_2" id="movie_{{movie.id}}_type">类型：{{movie.type}}</p>
                                    <p class="info_2" id="movie_{{movie.id}}_country">国家/地区：{{movie.country}}</p>
                                </div>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:5 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% empty %}
                    <div class="col-sm-4 col-md-2">
                        <p class="info_3">无结果</p>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            <br>
            <div id = "Recommand_zone">
                <h3>为你推荐</h3>
                <div id = "Recommand_Movie"></div>
            </div>
            <div class="container" id="center4">
                    <div class="row">
                    {% for movie in recommand_movie_list %}
                        <div class="col-sm-4 col-md-2">
                            <div class="thumbnail">
                                <a href="../movie/{{movie.id}}" id="movie_{{movie.id}}_id"><img src="../static/items/{{movie.picture}}" alt="{{movie.id}}" title="{{movie.title}}" id="movie_{{movie.id}}_picture">
                                <div class="caption">
                                    <a href="../movie/{{movie.id}}" id="movie_{{movie.id}}_id"><strong class="info" id="movie_{{movie.id}}_title">{{movie.title}}</strong></a><br>
                                    <strong class="info" id="movie_{{movie.id}}_score">豆瓣评分：{{movie.score}}</strong><br>
                                    <p class="info_2" id="movie_{{movie.id}}_type">类型：{{movie.type}}</p>
                                    <p class="info_2" id="movie_{{movie.id}}_country">国家/地区：{{movie.country}}</p>
                                </div>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:5 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% empty %}
                    <div class="col-sm-4 col-md-2">
                        <p class="info_3">无结果</p>
                    </div>
                    {% endfor %}
                    </div>
                </div>
        </div>
    </body>
</html>