img{
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
}

.navbar .navbar-header > a > img{
    max-width: 120%;
    max-height: 120%;
}

.navbar .nav > li > .dropdown-toggle{
    color: rgb(189, 180, 180);    
}

.navbar .nav > li > #index{
    color: rgb(189, 180, 180);    
}

.navbar .nav > li > #index:hover{
    color: white;    
}

.navbar .nav > li > ul > li > .btn-link{
    color:rgb(7, 7, 184);
}

.navbar .nav > li > ul > li > .btn-link:hover{
    text-decoration: underline;
}

.navbar .nav > li > #user{
    color:rgb(252, 250, 250);
}

.navbar .nav > li > #title{
    color:red;
}

.search_area > form > div > input{
    font-size:15px;
}

.search_area > form{
    margin-top:8px;
}

.container .row > div > .thumbnail{
    border: none;
}

.container .row > div > .thumbnail > img:hover{
    cursor: pointer;
}
