#center4{
    padding-top:100px;
    position: relative;
}

.info{
    font-size:15px;
    font-family:"华文中宋";
}

.info_2{
    font-size:13px;
    font-family:"华文中宋";
    color:rgb(5, 73, 136);
}

.info_3{
    font-size:20px;
    font-family:"华文中宋";
    color:rgb(255, 11, 11);
}

.container .row .btn-success{
    float:left;
}

.container .row .btn-warning{
    float:right;
}