.container .row > div > p{
    color:gray;
    font-size:14px;
}

.container .row > div > p > span{
    color:rgb(0, 0, 0);
}

.container .row > div > p > a{
    cursor: pointer;
}

.Input_Box {
    width: 495px;
    height: 150px;
    border: 1px solid #ccc;
    transition: border linear .2s, box-shadow linear .5s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .5s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
}

.Input_Box > textarea {
    width: 485px;
    height: 111px;
    padding: 5px;
    outline: none;
    border: 0px solid #fff;
    resize: none;
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.Input_Foot {
    width: 100%;
    height: 35px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: absolute;
}

.container .row .btn-warning{
    position: relative;
    left:80px;
}

.postBtn {
    float: right;
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
    color: #808080;
    padding: 9px 20px 7px 20px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.postBtn:hover {
    color: #333;
    background-color: #efefef;
}

.postBtn:active {
    padding: 10px 20px 6px 20px;
}
#center5{
    height:200px;
}
