#center2{
    padding-top:50%;
    left:5%;
    width:90%;
    max-height:60%;
    height:auto;
    position: absolute;
    display:inline-block; 
}

#center3{
    top:5%;
    left:30%;
    position: absolute;
    display:inline-block;
    width:auto;
    height:auto;
    max-width: 45%;
    max-height: 45%;
    transform: translate(-5%,-5%);
    -webkit-transform: translate(-5%,-5%);
    -moz-transform: translate(-5%,-5%);
    -ms-transform: translate(-5%,-5%);
}

#center5{
    left:50%;
    top:100px;
    width:400px;
    height:600px;
    overflow: auto;
    position: absolute;
    border-radius: 15px;
    box-shadow:2px 2px 1px rgba(48, 45, 45, 0.986);
    background: rgb(239, 248, 233);
    display:inline-block; 
    width:fill-available;
    transform: translate(-50%,0%);
}

.navbar .nav > li > .tips{
    color: rgb(168, 174, 236);    
}

.navbar .nav > li > .tips:hover {
    color: white;
    background-color: #000000;
    cursor: pointer;
}
